In [5]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
                                              0.0/96.5 kB ? eta -:--:--
     ---------------------------------------- 96.5/96.5 kB 2.7 MB/s eta 0:00:00
Installing collected packages: xlrd
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [Errno 13] Permission denied: 'c:\\Python311\\Scripts\\runxlrd.py'
Consider using the `--user` option or check the permissions.


[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
import pandas as pd
chomage = pd.read_excel('sl_etc_2023T2.xls',sheet_name='D√©partement')

total_rows = len(chomage)
chomage = chomage.iloc[:total_rows - 4]
chomage

,Code,Libell√©,T1_1982,T2_1982,T3_1982,T4_1982,T1_1983,T2_1983,T3_1983,T4_1983,...,T1_2021,T2_2021,T3_2021,T4_2021,T1_2022,T2_2022,T3_2022,T4_2022,T1_2023,T2_2023
0,01,AIN,3.8,3.9,4.0,4.1,4.2,4.2,4.4,4.6,...,6.2,5.9,6.0,5.6,5.5,5.5,5.5,5.3,5.3,5.4
1,02,AISNE,8.3,8.4,8.6,8.5,8.5,8.5,8.8,9.2,...,11.1,10.9,11.3,10.7,10.6,10.5,10.5,10.3,10.3,10.3
2,03,ALLIER,7.3,7.5,7.7,7.7,7.7,7.7,7.8,8.4,...,8.3,8.2,8.2,7.8,7.7,7.7,7.7,7.5,7.4,7.6
3,04,ALPES-DE-HAUTE-PROVENCE,5.5,5.6,5.8,6.0,6.1,6.1,6.3,6.6,...,9.2,9.1,8.8,8.3,8.2,8.2,8.4,8.1,7.9,7.9
4,05,HAUTES-ALPES,4.9,4.9,5.0,5.3,5.7,5.8,6.0,6.4,...,9.6,8.0,7.5,7.0,7.1,6.9,7.0,6.7,6.7,6.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,VAL-D'OISE,5.3,5.4,5.5,5.5,5.6,5.6,5.6,5.9,...,9.0,8.7,8.9,8.3,8.1,8.1,8.0,7.9,7.7,7.8
96,971,GUADELOUPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.3,19.5,16.4,15.5,18.1,18.5,18.3,19.3,18.2,19.5
97,972,MARTINIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.8,14.8,13.2,10.9,12.5,13.6,13.3,10.2,12.4,10.7
98,973,GUYANE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.3,13.5,17.1,14.2,15.5,13.3,13.5,10.9,13.9,13.8
99,974,LA REUNION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.5,16.7,18.6,19.0,18.5,18.9,17.6,17.1,18.7,18.8

In [11]:
colonnes_selectionnees = chomage.filter(like='2018').columns.tolist() + \
                         chomage.filter(like='2019').columns.tolist() + \
                         chomage.filter(like='2020').columns.tolist() + \
                         chomage.filter(like='2021').columns.tolist()

nouveau_chomage = chomage[colonnes_selectionnees]
nouveau_chomage

,T1_2018,T2_2018,T3_2018,T4_2018,T1_2019,T2_2019,T3_2019,T4_2019,T1_2020,T2_2020,T3_2020,T4_2020,T1_2021,T2_2021,T3_2021,T4_2021
0,6.4,6.3,6.4,6.2,6.2,6.0,6.1,6.0,5.8,5.6,6.8,6.1,6.2,5.9,6.0,5.6
1,12.8,12.6,12.3,12.0,12.1,11.6,11.6,11.3,11.1,9.5,12.2,11.0,11.1,10.9,11.3,10.7
2,9.6,9.4,9.3,9.1,9.2,8.9,8.8,8.7,8.3,7.8,9.5,8.3,8.3,8.2,8.2,7.8
3,10.7,10.5,10.3,10.2,10.2,9.8,9.8,9.3,8.9,8.4,10.2,8.9,9.2,9.1,8.8,8.3
4,8.5,8.5,8.5,8.3,8.2,8.0,7.9,7.8,7.4,7.1,8.5,7.8,9.6,8.0,7.5,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9.4,9.3,9.1,8.9,8.8,8.5,8.5,8.3,8.1,7.3,9.6,8.9,9.0,8.7,8.9,8.3
96,24.0,21.0,23.5,22.0,21.8,19.5,20.6,20.8,18.9,11.4,19.5,19.7,17.3,19.5,16.4,15.5
97,15.6,18.3,17.1,18.3,16.2,14.4,13.8,15.3,11.8,8.2,15.4,14.2,12.8,14.8,13.2,10.9
98,18.1,19.5,19.2,19.1,17.6,20.2,20.0,19.6,16.4,8.7,18.7,20.5,12.3,13.5,17.1,14.2
99,23.8,24.3,24.3,23.5,22.3,22.1,20.4,20.1,18.9,13.4,19.6,17.1,17.5,16.7,18.6,19.0

In [12]:
moyenne_par_ligne = nouveau_chomage.mean(axis=1)
moyenne_par_ligne

0      6.10000
1     11.50625
2      8.71250
3      9.53750
4      8.03750
        ...
95     8.72500
96    19.46250
97    14.39375
98    17.16875
99    20.10000
Length: 100, dtype: float64

In [13]:
code_postal = chomage['Code']
code_postal

0      01
1      02
2      03
3      04
4      05
     ...
95     95
96    971
97    972
98    973
99    974
Name: Code, Length: 100, dtype: object

In [27]:
data = {
    'Code postal': code_postal,
    'Moyenne Taux Chomage': moyenne_par_ligne
}

moyenne_taux_chomage = pd.DataFrame(data)

print(moyenne_taux_chomage)

   Code postal  Moyenne Taux Chomage
0           01               6.10000
1           02              11.50625
2           03               8.71250
3           04               9.53750
4           05               8.03750
..         ...                   ...
95          95               8.72500
96         971              19.46250
97         972              14.39375
98         973              17.16875
99         974              20.10000

[100 rows x 2 columns]

In [23]:
import pickle

with open('dataframe.pkl', 'rb') as file:
    df = pickle.load(file)

In [24]:
df

,No disposition,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Voie,Code postal,Commune,Code commune,Section,No plan,1er lot,Surface Carrez du 1er lot,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,col_concat
3,1,04/01/2021,Vente,204332.0,ALL,DES ECUREUILS,1310.0,BUELLAS,65,B,1325,NaN,NaN,0,Maison,88.0,4.0,S,866.0,04/01/2021ALL7.00276DES ECUREUILS1310.0BUELLAS
14,2,04/01/2021,Vente,226700.0,CHE,DU MOULIN DE POLAIZE,1310.0,POLLIAT,301,AA,289,NaN,NaN,0,Maison,96.0,3.0,NaN,NaN,04/01/2021CHE173.00164DU MOULIN DE POLAIZE1310...
15,1,08/01/2021,Vente,185000.0,RUE,DES GRANGES BONNET,1960.0,PERONNAS,289,AD,31,NaN,NaN,0,Maison,100.0,4.0,S,703.0,08/01/2021RUE46.00161DES GRANGES BONNET1960.0P...
16,1,07/01/2021,Vente,114500.0,RUE,DE LA MAIRIE,1340.0,FOISSIAT,163,AB,302,NaN,NaN,0,Maison,85.0,2.0,S,87.0,07/01/2021RUE179.00110DE LA MAIRIE1340.0FOISSIAT
19,1,08/01/2021,Vente,145000.0,IMP,DE CHAMANDRE,1340.0,FOISSIAT,163,WC,215,NaN,NaN,0,Maison,92.0,1.0,S,2480.0,08/01/2021IMP8.00255DE CHAMANDRE1340.0FOISSIAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15125094,1,27/12/2018,Vente,1800.0,PL,DES VOSGES,75004.0,PARIS 04,104,AO,7,109.0,NaN,1,Appartement,20.0,2.0,NaN,NaN,27/12/2018PL9.09917DES VOSGES75004.0PARIS 04
15125095,1,28/12/2018,Vente,405000.0,RUE,BEAUTREILLIS,75004.0,PARIS 04,104,AQ,16,16.0,33.87,2,Appartement,34.0,1.0,NaN,NaN,28/12/2018RUE13.00797BEAUTREILLIS75004.0PARIS 04
15125096,1,26/12/2018,Vente,220000.0,RUE,DES LIONS SAINT PAUL,75004.0,PARIS 04,104,AQ,127,126.0,NaN,2,Appartement,29.0,1.0,NaN,NaN,26/12/2018RUE14.05702DES LIONS SAINT PAUL75004...
15125098,1,03/12/2018,Vente,383000.0,RUE,POISSONNIERE,75002.0,PARIS 02,102,AO,85,9.0,34.78,1,Appartement,34.0,1.0,NaN,NaN,03/12/2018RUE12.07561POISSONNIERE75002.0PARIS 02
15125101,1,17/10/2018,Vente,45000.0,RUE,SAINT-DENIS,75002.0,PARIS 02,102,AP,117,57.0,NaN,1,Appartement,11.0,1.0,NaN,NaN,17/10/2018RUE273.08525SAINT-DENIS75002.0PARIS 02

In [25]:
df = df.dropna(subset=['Code postal'])
df = df.dropna(subset=['Surface terrain'])



def tronquer_valeur(valeur):
    str_valeur = str(valeur)
    if len(str_valeur) == 7:
        return int(str_valeur[:2])
    elif len(str_valeur) == 6:
        return int(str_valeur[:1])
    else: 
        return str_valeur

def ajout_0(valeur):
    str_valeur = str(valeur)
    if len(str_valeur) == 1:
        return ('0' + str(str_valeur))
    else: 
        return str_valeur
    
df['Code postal'] = df['Code postal'].astype(str)
df['Code postal'] = df['Code postal'].apply(tronquer_valeur)
df['Code postal'] = df['Code postal'].apply(ajout_0)
df['Code postal'] = df['Code postal'].astype(str)

In [26]:
df

,No disposition,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Voie,Code postal,Commune,Code commune,Section,No plan,1er lot,Surface Carrez du 1er lot,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,col_concat
3,1,04/01/2021,Vente,204332.0,ALL,DES ECUREUILS,01,BUELLAS,65,B,1325,NaN,NaN,0,Maison,88.0,4.0,S,866.0,04/01/2021ALL7.00276DES ECUREUILS1310.0BUELLAS
15,1,08/01/2021,Vente,185000.0,RUE,DES GRANGES BONNET,01,PERONNAS,289,AD,31,NaN,NaN,0,Maison,100.0,4.0,S,703.0,08/01/2021RUE46.00161DES GRANGES BONNET1960.0P...
16,1,07/01/2021,Vente,114500.0,RUE,DE LA MAIRIE,01,FOISSIAT,163,AB,302,NaN,NaN,0,Maison,85.0,2.0,S,87.0,07/01/2021RUE179.00110DE LA MAIRIE1340.0FOISSIAT
19,1,08/01/2021,Vente,145000.0,IMP,DE CHAMANDRE,01,FOISSIAT,163,WC,215,NaN,NaN,0,Maison,92.0,1.0,S,2480.0,08/01/2021IMP8.00255DE CHAMANDRE1340.0FOISSIAT
24,1,07/01/2021,Vente,169600.0,CHE,DES MILLETTES,01,DRUILLAT,151,C,517,NaN,NaN,0,Maison,98.0,4.0,S,303.0,07/01/2021CHE153.00135DES MILLETTES1160.0DRUILLAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15099820,1,14/09/2018,Vente,437000.0,RUE,BERLIOZ,75,PARIS 16,116,EW,87,NaN,NaN,0,Maison,144.0,6.0,S,147.0,14/09/2018RUE22.00894BERLIOZ75016.0PARIS 16
15116237,1,18/04/2018,Vente,150000.0,SQ,ROLAND GARROS,75,PARIS 20,120,BN,61,NaN,NaN,0,Maison,128.0,5.0,S,111.0,18/04/2018SQ4.08323ROLAND GARROS75020.0PARIS 20
15120531,1,16/10/2018,Vente,475000.0,RUE,FRANCOIS PINTON,75,PARIS 19,119,DH,118,NaN,NaN,0,Maison,75.0,4.0,S,123.0,16/10/2018RUE12.03809FRANCOIS PINTON75019.0PAR...
15121763,1,11/12/2018,Vente,170640.0,VLA,EMILE LOUBET,75,PARIS 19,119,DI,527,NaN,NaN,0,Maison,70.0,5.0,S,66.0,11/12/2018VLA4.03248EMILE LOUBET75019.0PARIS 19
15121787,1,19/12/2018,Vente,425000.0,IMP,DE BERGAME,75,PARIS 20,120,DS,62,NaN,NaN,0,Maison,30.0,1.0,S,35.0,19/12/2018IMP10.00883DE BERGAME75020.0PARIS 20

In [34]:
df_merged = pd.merge(df, moyenne_taux_chomage, on='Code postal', how='right')
df_merged

,No disposition,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Voie,Code postal,Commune,Code commune,Section,...,1er lot,Surface Carrez du 1er lot,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,col_concat,Moyenne Taux Chomage
0,1.0,04/01/2021,Vente,204332.0,ALL,DES ECUREUILS,01,BUELLAS,65.0,B,...,NaN,NaN,0.0,Maison,88.0,4.0,S,866.0,04/01/2021ALL7.00276DES ECUREUILS1310.0BUELLAS,6.10000
1,1.0,08/01/2021,Vente,185000.0,RUE,DES GRANGES BONNET,01,PERONNAS,289.0,AD,...,NaN,NaN,0.0,Maison,100.0,4.0,S,703.0,08/01/2021RUE46.00161DES GRANGES BONNET1960.0P...,6.10000
2,1.0,07/01/2021,Vente,114500.0,RUE,DE LA MAIRIE,01,FOISSIAT,163.0,AB,...,NaN,NaN,0.0,Maison,85.0,2.0,S,87.0,07/01/2021RUE179.00110DE LA MAIRIE1340.0FOISSIAT,6.10000
3,1.0,08/01/2021,Vente,145000.0,IMP,DE CHAMANDRE,01,FOISSIAT,163.0,WC,...,NaN,NaN,0.0,Maison,92.0,1.0,S,2480.0,08/01/2021IMP8.00255DE CHAMANDRE1340.0FOISSIAT,6.10000
4,1.0,07/01/2021,Vente,169600.0,CHE,DES MILLETTES,01,DRUILLAT,151.0,C,...,NaN,NaN,0.0,Maison,98.0,4.0,S,303.0,07/01/2021CHE153.00135DES MILLETTES1160.0DRUILLAT,6.10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88748,NaN,NaN,NaN,NaN,NaN,NaN,95,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.72500
88749,NaN,NaN,NaN,NaN,NaN,NaN,971,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.46250
88750,NaN,NaN,NaN,NaN,NaN,NaN,972,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.39375
88751,NaN,NaN,NaN,NaN,NaN,NaN,973,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.16875
88752,NaN,NaN,NaN,NaN,NaN,NaN,974,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.10000

In [35]:
pourcentage_manquant = (df_merged['Moyenne Taux Chomage'].isna().sum() / len(df_merged['Moyenne Taux Chomage'])) * 100
pourcentage_manquant

0.0

In [36]:
with open('dataframe2.pkl', 'wb') as file:
    pickle.dump(df_merged, file)