In [3]:
import pickle
import pandas as pd

In [4]:
# J'importe le fichier pkl

with open('dataframe.pkl', 'rb') as file:
    df = pickle.load(file)

In [5]:
df.describe(include='all')

,No disposition,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Voie,Code postal,Commune,Code commune,Section,No plan,1er lot,Surface Carrez du 1er lot,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,col_concat
count,1.111078e+06,1111078,1111078,1.111078e+06,704354,1108595,1.108609e+06,1111078,1.111078e+06,1111054,1.111078e+06,277300.0,108230.000000,1.111078e+06,656022,655035.000000,655035.000000,828285,8.282850e+05,1111078
unique,NaN,359,6,NaN,132,332246,NaN,30344,NaN,584,NaN,7499.0,NaN,NaN,4,NaN,NaN,27,NaN,1111078
top,NaN,30/04/2021,Vente,NaN,RUE,LE VILLAGE,NaN,NICE,NaN,A,NaN,1.0,NaN,NaN,Maison,NaN,NaN,S,NaN,04/01/2021ALL7.00276DES ECUREUILS1310.0BUELLAS
freq,NaN,8006,1076794,NaN,422712,14002,NaN,6340,NaN,78379,NaN,10496.0,NaN,NaN,366661,NaN,NaN,484400,NaN,1
mean,1.051740e+00,NaN,NaN,3.178176e+05,NaN,NaN,5.045689e+04,NaN,2.115873e+02,NaN,4.240905e+02,NaN,56.980472,3.182351e-01,NaN,99.123564,2.779458,NaN,1.958955e+03,NaN
std,3.124035e-01,NaN,NaN,4.344339e+06,NaN,NaN,2.695645e+04,NaN,1.679774e+02,NaN,5.847717e+02,NaN,85.567029,8.161554e-01,NaN,604.846448,2.045638,NaN,8.613734e+03,NaN
min,1.000000e+00,NaN,NaN,1.000000e+02,NaN,NaN,1.000000e+03,NaN,1.000000e+00,NaN,1.000000e+00,NaN,0.010000,0.000000e+00,NaN,0.000000,0.000000,NaN,0.000000e+00,NaN
25%,1.000000e+00,NaN,NaN,4.800000e+04,NaN,NaN,2.940000e+04,NaN,8.000000e+01,NaN,9.300000e+01,NaN,28.572500,0.000000e+00,NaN,33.000000,1.000000,NaN,1.980000e+02,NaN
50%,1.000000e+00,NaN,NaN,1.300000e+05,NaN,NaN,5.034000e+04,NaN,1.760000e+02,NaN,2.330000e+02,NaN,46.660000,0.000000e+00,NaN,72.000000,3.000000,NaN,4.850000e+02,NaN
75%,1.000000e+00,NaN,NaN,2.360000e+05,NaN,NaN,7.500600e+04,NaN,3.000000e+02,NaN,5.180000e+02,NaN,70.737500,0.000000e+00,NaN,100.000000,4.000000,NaN,1.030000e+03,NaN
max,6.700000e+01,NaN,NaN,4.408400e+08,NaN,NaN,9.749000e+04,NaN,9.090000e+02,NaN,9.873000e+03,NaN,9614.000000,1.900000e+02,NaN,145111.000000,70.000000,NaN,2.967329e+06,NaN

In [6]:
pourcentage_manquant = (df.isna().sum() / len(df)) * 100
pourcentage_manquant

No disposition                0.000000
Date mutation                 0.000000
Nature mutation               0.000000
Valeur fonciere               0.000000
Type de voie                 36.606251
Voie                          0.223477
Code postal                   0.222217
Commune                       0.000000
Code commune                  0.000000
Section                       0.002160
No plan                       0.000000
1er lot                      75.042256
Surface Carrez du 1er lot    90.259010
Nombre de lots                0.000000
Type local                   40.956260
Surface reelle bati          41.045093
Nombre pieces principales    41.045093
Nature culture               25.452128
Surface terrain              25.452128
col_concat                    0.000000
dtype: float64

In [34]:
print(df.columns)

Index(['No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'Type de voie', 'Voie', 'Code postal', 'Commune', 'Code commune',
       'Section', 'No plan', '1er lot', 'Surface Carrez du 1er lot',
       'Nombre de lots', 'Type local', 'Surface reelle bati',
       'Nombre pieces principales', 'Nature culture', 'Surface terrain',
       'col_concat'],
      dtype='object')

In [8]:
correlation = df[df.columns].corr()

sorted_correlation_Valeurfonciere = correlation['Valeur fonciere'].sort_values(ascending=False)

print(sorted_correlation_Valeurfonciere)

Valeur fonciere              1.000000
Surface Carrez du 1er lot    0.362928
Surface reelle bati          0.054003
Nombre pieces principales    0.021664
Code commune                 0.017872
No plan                      0.013262
Code postal                  0.009607
No disposition               0.007884
Surface terrain              0.001481
Nombre de lots              -0.005054
Name: Valeur fonciere, dtype: float64

In [36]:
print(df.dtypes)

No disposition                 int64
Date mutation                 object
Nature mutation               object
Valeur fonciere              float64
Type de voie                  object
Voie                          object
Code postal                  float64
Commune                       object
Code commune                   int64
Section                       object
No plan                        int64
1er lot                       object
Surface Carrez du 1er lot    float64
Nombre de lots                 int64
Type local                    object
Surface reelle bati          float64
Nombre pieces principales    float64
Nature culture                object
Surface terrain              float64
col_concat                    object
dtype: object

# Arbre de décision pour predire le 'Type local'

In [9]:
# Sélectionner uniquement les lignes où 'Type local' est renseigné
df_filtered = df[df['Type local'].notna()]

In [96]:
# on prend quelques variables explicatives

X = df_filtered[["Surface reelle bati", "Surface terrain", "Nombre pieces principales", "Nombre de lots","Code commune" ]]

#on nomme la variale cible

Y= df_filtered["Type local"]

In [97]:
#ok toutes les valeurs de Y sont renseignées
Y.isna().value_counts()

False    656022
Name: Type local, dtype: int64

In [98]:
Y.value_counts(normalize=True)

Maison                                      0.558916
Appartement                                 0.206357
Dépendance                                  0.165135
Local industriel. commercial ou assimilé    0.069592
Name: Type local, dtype: float64

In [99]:
# on scinde les données en echantillon test et train
#70% des données pour l’apprentissage
#30% des données pour l'échantillon test

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y,
                                                    test_size = 0.30,
                                                    stratify = Y,
                                                    random_state = 42)

On va gerer les valeurs manquantes dans l'echantillon d'apprentissage

In [100]:
X_train['Nombre pieces principales'].fillna(X_test['Nombre pieces principales'].mean(), inplace=True)
X_test['Nombre pieces principales'].fillna(X_test['Nombre pieces principales'].mean(), inplace=True)
X_train['Surface reelle bati'].fillna(X_test['Surface reelle bati'].mean(), inplace=True)
X_test['Surface reelle bati'].fillna(X_test['Surface reelle bati'].mean(), inplace=True)
X_train["Surface terrain"].fillna(X_test["Surface terrain"].mean(), inplace=True)
X_test["Surface terrain"].fillna(X_test["Surface terrain"].mean(), inplace=True)
X_train["Nombre de lots"].fillna(X_test["Nombre de lots"].mean(), inplace=True)
X_test["Nombre de lots"].fillna(X_test["Nombre de lots"].mean(), inplace=True)
X_train["Code commune"].fillna(X_test["Code commune"].mean(), inplace=True)
X_test["Code commune"].fillna(X_test["Code commune"].mean(), inplace=True)

# Apprentissage

In [102]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree

In [103]:
model_1 = DecisionTreeClassifier(max_depth=3 , min_samples_leaf=10, min_samples_split=20)
model_1 = model_1.fit(X_train,y_train)

# Prediction

In [104]:
y_pred = model_1.predict(X_test)
y_pred[0:10]

array(['Local industriel. commercial ou assimilé', 'Maison', 'Dépendance',
       'Maison', 'Dépendance', 'Appartement', 'Maison', 'Maison',
       'Maison', 'Dépendance'], dtype=object)

In [105]:
y_pred_proba = model_1.predict_proba(X_test)
y_pred_proba[0:10]

array([[9.46206413e-03, 0.00000000e+00, 9.89837042e-01, 7.00893639e-04],
       [2.58478378e-03, 0.00000000e+00, 1.75322893e-03, 9.95661987e-01],
       [1.60831176e-05, 9.99823086e-01, 1.60831176e-04, 0.00000000e+00],
       [2.58478378e-03, 0.00000000e+00, 1.75322893e-03, 9.95661987e-01],
       [0.00000000e+00, 9.09159780e-01, 9.08402204e-02, 0.00000000e+00],
       [8.78662066e-01, 9.35095052e-06, 1.12211406e-04, 1.21216372e-01],
       [2.58478378e-03, 0.00000000e+00, 1.75322893e-03, 9.95661987e-01],
       [2.58478378e-03, 0.00000000e+00, 1.75322893e-03, 9.95661987e-01],
       [2.58478378e-03, 0.00000000e+00, 1.75322893e-03, 9.95661987e-01],
       [0.00000000e+00, 9.09159780e-01, 9.08402204e-02, 0.00000000e+00]])

In [106]:
pd.crosstab(y_test,y_pred, colnames=['pred'], rownames=['obs'], margins=True)

pred,Appartement,Dépendance,Local industriel. commercial ou assimilé,Maison,All
obs,,,,,
Appartement,40264,0,74,275,40613
Dépendance,0,32500,0,0,32500
Local industriel. commercial ou assimilé,4,538,12866,288,13696
Maison,5400,0,165,104433,109998
All,45668,33038,13105,104996,196807

In [107]:
from sklearn.metrics import recall_score, precision_score, f1_score

print('recall : ' + str(recall_score(y_test,y_pred,average='macro')))
print('precision : ' + str(precision_score(y_test,y_pred, average='macro')))
print('f1_score : ' + str(f1_score(y_test,y_pred, average='macro')))

recall : 0.9700533069955047
precision : 0.9604459966975656
f1_score : 0.9641809613884645

# Optimisation des parametres de l'arbre

In [108]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ShuffleSplit

In [109]:
parameters = {'max_depth' : [1,2,3,4,5,6] ,
              'min_samples_leaf' : [10,20,30,40],
              'min_samples_split' : [50,100,200]}

dtc = DecisionTreeClassifier()
dtc_model_1 = GridSearchCV(dtc, parameters, scoring = 'accuracy' ,
                   cv = ShuffleSplit(test_size=0.30, n_splits=1, random_state=0))
dtc_model_1.fit(X_train, y_train )

print("Voici les paramètres du meilleure modèle : " + str(dtc_model_1.best_estimator_))
print("Voici le score "  + str(dtc_model_1.scorer_) + " du meilleure modèle : " + str(dtc_model_1.best_score_))

Voici les paramètres du meilleure modèle : DecisionTreeClassifier(max_depth=6, min_samples_leaf=40, min_samples_split=50)
Voici le score make_scorer(accuracy_score) du meilleure modèle : 0.9700577069647588

Comment c'est possible que avec le gridsearch le score make_scorer(accuracy_score) du meilleure modèle : 0.8700831125467281 et que sans le gridsearch precision : 0.8920381577537984??

In [110]:
y_pred_dtc = dtc_model_1.predict(X_test)

In [111]:
print('recall : ' + str(recall_score(y_test,y_pred_dtc,average='macro')))
print('precision : ' + str(precision_score(y_test,y_pred_dtc, average='macro')))
print('f1_score : ' + str(f1_score(y_test,y_pred_dtc, average='macro')))

recall : 0.9749766442325376
precision : 0.9656789420983634
f1_score : 0.9699661572624334

# Bonne précision