In [4]:
import pickle
import pandas as pd

In [5]:
# J'importe le fichier pkl

with open('dataframe2.pkl', 'rb') as file:
    df = pickle.load(file)

In [6]:
df.describe(include='all')

c:\Python311\Lib\site-packages\pandas\core\nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,No disposition,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Voie,Code postal,Commune,Code commune,Section,...,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,col_concat,Moyenne Taux Chomage,prix_par_m2,moyenne_prix_par_m2_par_code_postal
count,2.717931e+06,2717931,2717931,2.717931e+06,2432565,2717903,2717931,2717931,2.717931e+06,2717824,...,2.717931e+06,2717931,2.715891e+06,2.715891e+06,1527360,1.527360e+06,2717931,2.678409e+06,2.715891e+06,2.717931e+06
unique,NaN,1421,1,NaN,138,337716,93,31367,NaN,579,...,NaN,4,NaN,NaN,25,NaN,2717931,NaN,NaN,NaN
top,NaN,29/05/2020,Vente,NaN,RUE,DE LA REPUBLIQUE,59,NICE,NaN,AB,...,NaN,Maison,NaN,NaN,S,NaN,04/01/2021ALL7.00276DES ECUREUILS1310.0BUELLAS,NaN,NaN,NaN
freq,NaN,6749,2717931,NaN,1475999,15201,119708,27027,NaN,148533,...,NaN,1482506,NaN,NaN,1494211,NaN,1,NaN,NaN,NaN
mean,1.019747e+00,NaN,NaN,1.641322e+05,NaN,NaN,NaN,NaN,2.100234e+02,NaN,...,6.132290e-01,NaN,7.966071e+01,2.891018e+00,NaN,5.583576e+02,NaN,8.199691e+00,inf,1.637623e+05
std,1.717355e-01,NaN,NaN,1.077381e+05,NaN,NaN,NaN,NaN,1.701774e+02,NaN,...,8.846453e-01,NaN,2.572901e+02,1.943744e+00,NaN,1.748071e+03,NaN,1.613604e+00,NaN,3.951063e+04
min,1.000000e+00,NaN,NaN,1.000000e+02,NaN,NaN,NaN,NaN,1.000000e+00,NaN,...,0.000000e+00,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,4.806250e+00,1.855976e-02,6.498137e+04
25%,1.000000e+00,NaN,NaN,8.150000e+04,NaN,NaN,NaN,NaN,7.600000e+01,NaN,...,0.000000e+00,NaN,3.800000e+01,1.000000e+00,NaN,1.970000e+02,NaN,6.837500e+00,1.388889e+03,1.367267e+05
50%,1.000000e+00,NaN,NaN,1.450000e+05,NaN,NaN,NaN,NaN,1.720000e+02,NaN,...,0.000000e+00,NaN,7.100000e+01,3.000000e+00,NaN,4.080000e+02,NaN,7.906250e+00,2.287500e+03,1.620838e+05
75%,1.000000e+00,NaN,NaN,2.265000e+05,NaN,NaN,NaN,NaN,3.000000e+02,NaN,...,1.000000e+00,NaN,9.800000e+01,4.000000e+00,NaN,6.780000e+02,NaN,9.031250e+00,4.111111e+03,1.976331e+05
max,3.800000e+01,NaN,NaN,4.975000e+05,NaN,NaN,NaN,NaN,9.090000e+02,NaN,...,1.260000e+02,NaN,1.030040e+05,1.090000e+02,NaN,6.821210e+05,NaN,1.311875e+01,inf,2.364741e+05

In [7]:
pourcentage_manquant = (df.isna().sum() / len(df)) * 100
pourcentage_manquant

No disposition                          0.000000
Date mutation                           0.000000
Nature mutation                         0.000000
Valeur fonciere                         0.000000
Type de voie                           10.499384
Voie                                    0.001030
Code postal                             0.000000
Commune                                 0.000000
Code commune                            0.000000
Section                                 0.003937
No plan                                 0.000000
1er lot                                56.721160
Surface Carrez du 1er lot              81.489670
Nombre de lots                          0.000000
Type local                              0.000000
Surface reelle bati                     0.075057
Nombre pieces principales               0.075057
Nature culture                         43.804313
Surface terrain                        43.804313
col_concat                              0.000000
Moyenne Taux Chomage                    1.454121
prix_par_m2                             0.075057
moyenne_prix_par_m2_par_code_postal     0.000000
dtype: float64

In [8]:
print(df.columns)

Index(['No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'Type de voie', 'Voie', 'Code postal', 'Commune', 'Code commune',
       'Section', 'No plan', '1er lot', 'Surface Carrez du 1er lot',
       'Nombre de lots', 'Type local', 'Surface reelle bati',
       'Nombre pieces principales', 'Nature culture', 'Surface terrain',
       'col_concat', 'Moyenne Taux Chomage', 'prix_par_m2',
       'moyenne_prix_par_m2_par_code_postal'],
      dtype='object')

In [9]:
correlation = df[df.columns].corr()

sorted_correlation_Valeurfonciere = correlation['Valeur fonciere'].sort_values(ascending=False)

print(sorted_correlation_Valeurfonciere)

ValueError: could not convert string to float: '04/01/2021'

In [10]:
print(df.dtypes)

No disposition                           int64
Date mutation                           object
Nature mutation                         object
Valeur fonciere                        float64
Type de voie                            object
Voie                                    object
Code postal                             object
Commune                                 object
Code commune                             int64
Section                                 object
No plan                                  int64
1er lot                                 object
Surface Carrez du 1er lot              float64
Nombre de lots                           int64
Type local                              object
Surface reelle bati                    float64
Nombre pieces principales              float64
Nature culture                          object
Surface terrain                        float64
col_concat                              object
Moyenne Taux Chomage                   float64
prix_par_m2                            float64
moyenne_prix_par_m2_par_code_postal    float64
dtype: object

# Arbre de décision pour predire le 'Type local'

In [11]:
# Sélectionner uniquement les lignes où 'Type local' est renseigné
df_filtered = df[df['Type local'].notna()]

In [12]:
# on prend quelques variables explicatives

X = df_filtered[["Surface reelle bati", "Surface terrain", "Nombre pieces principales", "Nombre de lots","Code commune" ]]

#on nomme la variale cible

Y= df_filtered["Type local"]

In [13]:
#ok toutes les valeurs de Y sont renseignées
Y.isna().value_counts()

Type local
False    2717931
Name: count, dtype: int64

In [14]:
Y.value_counts(normalize=True)

Type local
Maison                                      0.545454
Appartement                                 0.267654
Dépendance                                  0.138505
Local industriel. commercial ou assimilé    0.048388
Name: proportion, dtype: float64

In [16]:
pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.3.1-cp311-cp311-win_amd64.whl (9.2 MB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\python311\lib\site-packages (from scikit-learn) (1.26.0)
Collecting scipy>=1.5.0 (from scikit-learn)
  Using cached scipy-1.11.3-cp311-cp311-win_amd64.whl (44.1 MB)
Collecting joblib>=1.1.1 (from scikit-learn)
  Using cached joblib-1.3.2-py3-none-any.whl (302 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Using cached threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.1 scipy-1.11.3 threadpoolctl-3.2.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
# on scinde les données en echantillon test et train
#70% des données pour l’apprentissage
#30% des données pour l'échantillon test

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y,
                                                    test_size = 0.30,
                                                    stratify = Y,
                                                    random_state = 42)

On va gerer les valeurs manquantes dans l'echantillon d'apprentissage

In [25]:
X_train['Nombre pieces principales'].fillna(X_train['Nombre pieces principales'].mean(), inplace=True)
X_test['Nombre pieces principales'].fillna(X_test['Nombre pieces principales'].mean(), inplace=True)
X_train['Surface reelle bati'].fillna(X_train['Surface reelle bati'].mean(), inplace=True)
X_test['Surface reelle bati'].fillna(X_test['Surface reelle bati'].mean(), inplace=True)
X_train["Surface terrain"].fillna(X_train["Surface terrain"].mean(), inplace=True)
X_test["Surface terrain"].fillna(X_test["Surface terrain"].mean(), inplace=True)
X_train["Nombre de lots"].fillna(X_train["Nombre de lots"].mean(), inplace=True)
X_test["Nombre de lots"].fillna(X_test["Nombre de lots"].mean(), inplace=True)
X_train["Code commune"].fillna(X_train["Code commune"].mean(), inplace=True)
X_test["Code commune"].fillna(X_test["Code commune"].mean(), inplace=True)

# Apprentissage

In [26]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree

In [27]:
model_1 = DecisionTreeClassifier(max_depth=3 , min_samples_leaf=10, min_samples_split=20)
model_1 = model_1.fit(X_train,y_train)

# Prediction

In [28]:
y_pred = model_1.predict(X_test)
y_pred[0:10]

array(['Maison', 'Local industriel. commercial ou assimilé', 'Maison',
       'Maison', 'Dépendance', 'Maison', 'Maison', 'Maison',
       'Appartement', 'Maison'], dtype=object)

In [29]:
y_pred_proba = model_1.predict_proba(X_test)
y_pred_proba[0:10]

array([[2.86242796e-03, 0.00000000e+00, 1.08122719e-03, 9.96056345e-01],
       [1.50270674e-02, 0.00000000e+00, 9.83946239e-01, 1.02669405e-03],
       [2.86242796e-03, 0.00000000e+00, 1.08122719e-03, 9.96056345e-01],
       [2.86242796e-03, 0.00000000e+00, 1.08122719e-03, 9.96056345e-01],
       [4.62280244e-06, 9.99791974e-01, 2.03403307e-04, 0.00000000e+00],
       [2.86242796e-03, 0.00000000e+00, 1.08122719e-03, 9.96056345e-01],
       [2.86242796e-03, 0.00000000e+00, 1.08122719e-03, 9.96056345e-01],
       [2.86242796e-03, 0.00000000e+00, 1.08122719e-03, 9.96056345e-01],
       [9.55478040e-01, 0.00000000e+00, 0.00000000e+00, 4.45219601e-02],
       [2.86242796e-03, 0.00000000e+00, 1.08122719e-03, 9.96056345e-01]])

In [30]:
pd.crosstab(y_test,y_pred, colnames=['pred'], rownames=['obs'], margins=True)

pred,Appartement,Dépendance,Local industriel. commercial ou assimilé,Maison,All
obs,,,,,
Appartement,216690,0,332,1218,218240
Dépendance,1,112932,0,1,112934
Local industriel. commercial ou assimilé,9,1549,37347,549,39454
Maison,20362,0,577,423813,444752
All,237062,114481,38256,425581,815380

In [31]:
from sklearn.metrics import recall_score, precision_score, f1_score

print('recall : ' + str(recall_score(y_test,y_pred,average='macro')))
print('precision : ' + str(precision_score(y_test,y_pred, average='macro')))
print('f1_score : ' + str(f1_score(y_test,y_pred, average='macro')))

recall : 0.9730989707955009
precision : 0.9681546865145049
f1_score : 0.9700326574267171

# Optimisation des parametres de l'arbre

In [32]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ShuffleSplit

In [33]:
parameters = {'max_depth' : [1,2,3,4,5,6] ,
              'min_samples_leaf' : [10,20,30,40],
              'min_samples_split' : [50,100,200]}

dtc = DecisionTreeClassifier()
dtc_model_1 = GridSearchCV(dtc, parameters, scoring = 'accuracy' ,
                   cv = ShuffleSplit(test_size=0.30, n_splits=1, random_state=0))
dtc_model_1.fit(X_train, y_train )

print("Voici les paramètres du meilleure modèle : " + str(dtc_model_1.best_estimator_))
print("Voici le score "  + str(dtc_model_1.scorer_) + " du meilleure modèle : " + str(dtc_model_1.best_score_))

Voici les paramètres du meilleure modèle : DecisionTreeClassifier(max_depth=6, min_samples_leaf=10, min_samples_split=100)
Voici le score make_scorer(accuracy_score) du meilleure modèle : 0.9731413574039098

In [34]:
y_pred_dtc = dtc_model_1.predict(X_test)

In [35]:
print('recall : ' + str(recall_score(y_test,y_pred_dtc,average='macro')))
print('precision : ' + str(precision_score(y_test,y_pred_dtc, average='macro')))
print('f1_score : ' + str(f1_score(y_test,y_pred_dtc, average='macro')))

recall : 0.9776428794967764
precision : 0.9710341328596991
f1_score : 0.9741343893976641

In [36]:
import pickle

with open('modele_classif.pkl', 'wb') as fichier:
    pickle.dump(dtc_model_1, fichier)